.body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container {
    width: 70%;
    margin-left: 15%;
}


/* Start Header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #562EFF;
}

li {
    float: right;
}

li:nth-child(1) {
    margin-right: 200px;
}

li:nth-child(5) {
    margin-left: 190px;
}

.icon {
    height: 49px;
    width: 40px;
    left: 285px;
    top: 26px;
    border-radius: 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(94, 90, 90);
}

hr.line {
    border-top: 2px solid rgb(161, 161, 161);
}


/* End Header */


/* Main*/


/* Start Top Developer */

.player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 150px;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.fs {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-top: 05px;
}

#box {
    height: 56px;
    width: 56px;
    left: 315px;
    top: 239px;
    border-radius: 0px;
}

.felx {
    display: flex;
}

.felx p,
i {
    margin-left: 10px;
    margin-top: 15px;
}

.fab {
    background: #55ACEE;
    color: rgb(255, 255, 255);
    height: 17px;
    width: 18px;
    position: relative;
}


/* End Top Developer */


/* Start Top Learning Site */

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.felxx {
    display: flex;
}

.felxx p {
    margin-left: 10px;
    margin-top: 15px;
}

.felxx a {
    color: rgb(61, 59, 226);
}

#boxx {
    height: 117px;
    width: 177px;
    left: 315px;
    top: 507px;
    border-radius: 10px;
}


/* End Top Learning Site */


/* Start Best Portfolio Tuitorial */

.course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 100px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.ls {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#boxxx {
    height: 104px;
    width: 224px;
    left: 324px;
    top: 913px;
    border-radius: 10px;
}

.full {
    display: flex;
}

.one {
    color: #FFC014;
    font-size: small;
}

.unchecked {
    color: #A2A2A2;
    font-size: small;
}

.two {
    background-color: #fac9d0;
    border-radius: 100px;
    margin-left: 20px;
    color: #ED6B4F;
    font-size: small;
}

.c {
    padding: 3px;
}

a:link {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}


/* End Best Portfolio Tuitorial */


/* End Main */


/* Media Queries for Mobile Phones */

@media only screen and (max-width: 688px) {
    .container-upper li {
        float: none;
        width: 100%;
    }
    .player {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 150px;
        justify-items: stretch;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        justify-content: center;
        justify-items: stretch;
        align-content: center;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
    #boxx {
        height: 117px;
        width: 100%;
        left: 315px;
        top: 507px;
        border-radius: 10px;
    }
    .felxx {
        display: inline-block;
    }
    .course {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 100px;
        justify-content: center;
        justify-items: stretch;
        align-content: center;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Media Queries for Tab */

@media only screen and (max-width: 992px) and (min-width: 689px) {
    .container-upper li,
    a {
        float: none;
        width: 100%;
    }
    .player {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 150px;
        justify-items: stretch;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        justify-content: center;
        justify-items: stretch;
        align-content: center;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
    .course {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 100px;
        justify-content: center;
        justify-items: stretch;
        align-content: center;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }
}